<div class="container">
    <div class="jumbotron">
        <h1>friend finder</h1>
        <p>Answer few questions. Then find the friend with the greatest compatibility!</p>
        <a class="btn btn-primary" role="button" href="/survey">Take Survey</a>
    </div>
</div>